<% content_for :title, "Editing renaiss" %>

<h1>Editing renaiss</h1>

<%= render "form", renaiss: @renaiss %>

<br>

<div>
  <%= link_to "Show this renaiss", @renaiss %> |
  <%= link_to "Back to renaisses", renaisses_path %>
</div>
